# .gitlab-ci.yml
stages:
  - deploy

deploy_to_vps:
  stage: deploy
  image: alpine:latest
  before_script:
    - apk add --no-cache openssh-client sshpass
  script:
    - 'echo "Deploying to: $VPS_USER@$VPS_HOST"'
    - 'sshpass -p "$VPS_PASSWORD" ssh -o ConnectTimeout=10 -o StrictHostKeyChecking=no "$VPS_USER@$VPS_HOST" "cd /var/www/html/ams-backend-go && git config --global --add safe.directory /var/www/html/ams-backend-go"'
    - 'sshpass -p "$VPS_PASSWORD" ssh -o ConnectTimeout=10 -o StrictHostKeyChecking=no "$VPS_USER@$VPS_HOST" "cd /var/www/html/ams-backend-go && git remote set-url origin https://ams-token-repo:$GITLAB_TOKEN@gitlab.com/sentuhdev/ams-sentuh/ams-backend-go.git"'
    - 'sshpass -p "$VPS_PASSWORD" ssh -o ConnectTimeout=10 -o StrictHostKeyChecking=no "$VPS_USER@$VPS_HOST" "cd /var/www/html/ams-backend-go && git pull"'
    - 'sshpass -p "$VPS_PASSWORD" ssh -o ConnectTimeout=10 -o StrictHostKeyChecking=no "$VPS_USER@$VPS_HOST" "cd /var/www/html/ams-backend-go && go build -o ./api ./cmd/api/main.go"'
    - 'sshpass -p "$VPS_PASSWORD" ssh -o ConnectTimeout=10 -o StrictHostKeyChecking=no "$VPS_USER@$VPS_HOST" "supervisorctl restart ams-backend"'
  only:
    - main